#mission {

  background-color: $ivory;

}
.white-rect {
  padding: 4px;
  border-left: 5px solid $prussian-blue;
  margin: 10px;
}
.news-section {
  border-top: 5px solid $prussian-blue;
  border-bottom: 5px solid $prussian-blue;
  background-color: $ivory;
}
