// Font
$font-family: 'Karla', sans-serif;

// Palette colors
$pale-blue: #364f6b;
$light-blue: #3d5775;
$deep-blue: #30465f;
$strong-pink: #fc5185;
$cyan: #43dde6;
$light-grey: #f0f0f0;
$strong-pink-hover: #c03b63;
$cyan-hover: #34afb6;
$light-grey-hover: #c5c5c5;

// Box shadow colors
$pale-blue-dark-box-shadow: rgba(0, 0, 0, 0.1);
$pale-blue-light-box-shadow: rgba(61, 87, 117, 0.7);
$light-grey-dark-box-shadow: rgba(0, 0, 0, 0.07);
$light-grey-light-box-shadow: rgba(255, 255, 255, 0.6);

// Default colors
$white: rgb(255, 255, 255);
$almost-white: rgb(240, 240, 240);
$not-quite-white: rgb(225, 225, 225);
$black: rgb(10, 10, 10);
$light: rgb(250, 243, 241);
$dark: rgb(45, 52, 64);
$primary: rgb(0, 209, 178);
$link: rgb(50, 115, 220);
$info: rgb(32, 156, 238);
$success: rgb(72, 199, 116);
$warning: rgb(255, 221, 87);
$danger: rgb(255, 56, 96);

// Sizes
$desktop-container-width: 1100px;  // Standard desktop max width

// Misc
$slow-transition-speed: 400ms;
$fast-transition-speed: 400ms;
