.chat-conversation-card {
  margin-bottom: 0.8em;
}

.chat-conversation {
  display: flex;
  align-items: center;
  padding: 0.5em;
  font-size: 1.4em;
  font-weight: bold;

  cursor: pointer;

  &:hover {
    background-color: var(--accent-1);
  }

  p {
    cursor: inherit;
    overflow-wrap: break-word;
    margin: 0 0.4em 0 1em;
    display: block;
    height: 100%;
    width: calc(100% - 50px - 1.4em);
  }

}

.chat-title {
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 2;
  position: fixed;
  width: 100%;
  margin-top: 0;
  padding: 0.3em;
  background-color: var(--secondary-background-color);
  border-bottom: 3px solid var(--accent-2);
}

.chat {
  margin-top: 7em;
}

.chat-message {
  align-items: center;
  padding: 0.5em;
  font-size: 1.4em;
  font-weight: bold;
  overflow-wrap: break-word;
  margin: 0 0.4em;
  display: block;
  height: calc(100% - 1em);
}

.chat-message-card {
  &.is-owner {
    background-color: var(--accent-2);
    color: var(--secondary-font-color);
    text-align: right;
  }
}

.chat-sender-card {
  padding: 1em;
}

.chat-input {
  box-sizing: border-box;
  height: 100%;
  width: calc(100% - 50px);
  background-color: transparent;
  border: none;
  outline: none;
  font: inherit;
  resize: none;
  overflow: auto;
  color: var(--primary-font-color);
  font-size: 2em;
  line-height: 1.2em;

  &:active {
    border: none;
  }
}

.chat-send {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent-2);
  cursor: pointer;

  svg {
    cursor: inherit;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 10px;
    top: 10px;

    .chat-send-svg {
      color: var(--secondary-font-color);;
    }
  }
}

.anonymous-message-card {
  cursor: pointer;

  &:hover {
    background-color: var(--accent-1);
  }
}


// Desktop
@media only screen and (min-width: 600px) {
  .chat-title {
    left: 5rem;
    width: calc(100% - 5rem);
  }
}
