// Main container
.main-container {
  margin-left: 5rem;
}

// NavBar
.navbar {
  z-index: 10;
  position: fixed;
  background-color: var(--navbar-background-color);
  transition: width var(--fast-transition-speed) ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--accent-3);
  background: var(--navbar-accent-color);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;

  svg {
    width: 3rem;
    min-width: 3rem;
    max-width: 3rem;
    height: 3rem;
    min-height: 3rem;
    max-height: 3rem;
    margin: 0 1rem;
    transition: var(--slow-transition-speed);
  }
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--slow-transition-speed);
}

.nav-item {
  width: 100%;

  &:last-child {
    margin-top: auto;
  }
}

.nav-link-image {
  position: relative;

  .nav-link-notification {
    position: absolute;
    height: 25px;
    width: 25px;
    top: -10px;
    right: 5px;
    text-align:center;
    border-radius: 50%;
    background: var(--accent-1);
    color: var(--soft-color);
  }
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--medium-accent-color);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--fast-transition-speed);

  &:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--navbar-accent-color);
    color: var(--soft-color);
  }

  svg {
    width: 2rem;
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
    min-height: 2rem;
    max-height: 2rem;
    margin: 0 1.5rem;
  }
}

.link-text {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms linear;
  margin-left: 1rem;
}

.fa-primary {
  color: var(--accent-1);
}

.fa-secondary {
  color: var(--accent-3);
}

.fa-primary,
.fa-secondary {
  transition: var(--fast-transition-speed);
}

// Mobile
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-logo {
    display: none;
  }

  .nav-link {
    justify-content: center;

    svg {
      margin: 0 auto;
    }
  }

  .link-text {
    display: none;
  }

  .main-container {
    margin-left: 0;
    margin-bottom: 5em;
  }
}

// Desktop
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;

    &:hover {
      width: 18rem;

      .link-text {
        visibility: visible;
        opacity: 1;
      }

      .nav-logo svg {
        margin-left: 9rem;
      }

      .logo-text {
        left: 0px;
      }
    }
  }
}
