<div class="content">
  <h1>Editar Organización</h1>
  <form method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="patch">

    <input type="text" id="name" name="name" placeholder="Nombre" value="<%= organization.name %>" required><br><br>

    <textarea type="text" id="description" name="description" placeholder="Descripción" required><%= organization.description %></textarea><br><br>


    <div class="field">
      <label for="img">Imagen</label>
      <input type="file" name="img">
    </div>

    <input type="submit" value="Submit">
  </form>
</div>
