<h1 class="title is-1 center">Organizaciones</h1>

<p>
  <a href="<%= newPath() %>">New</a>
</p>
<div class="columns wrap">
  <% organizations.forEach((organization) => { %>
    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <div class="card-image">
            <img src="<%= organization.image %>">
          </div>
          <p class="card-header-title is-centered">
            <%= organization.name %>
          </p>
        </header>
        <div class="card-content is-centered">
          <a class="button" href="<%= showPath(organization) %>">
            Más información
          </a>
        </div>
      </div>
    </div>
  <% }); %>
</div>
