<div class="content">
  <h1>Nueva Organización</h1>
  <form method="post">
    <input type="text" id="name" name="name" placeholder="Nombre" required><br><br>

    <textarea type="text" id="description" name="description" placeholder="Descripción" required></textarea><br><br>

    <input type="submit" value="Submit">
  </form>
</div>
