version: '3.7'
services:
  db:
    image: postgres:12.2
    volumes:
      - data:/var/lib/postgresql/data
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust  # Insecure connection, only for local
    networks:
      - backend
  web:
    build: .
    init: true
    command: yarn dev
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      NODE_ENV: development
    ports:
      - "3000:3000"
    depends_on:
      - db
    networks:
      - backend

volumes:
  data:
    driver: local

# Networks for container communication
networks:
  backend:
