<!DOCTYPE html>
<html>
  <head>
    <title>This CAi Docs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@3/swagger-ui.css">
  </head>
  <body>
    <div id="swagger-ui"></div>

    <script src="<%= assetPath('docs.js') %>"></script>
  </body>
</html>
