<div class="content">
  <h2><%= inventoryItem.name %></h2>
  <p>
    <%= inventoryItem.description %><br>
    Unidades existentes: <%= inventoryItem.maxStock %><br>
    Disponible: <%= inventoryItem.currentStock %>
  </p>
</div>
