body {
  background-color: var(--main-background-color);
  line-height: 1.5rem;
  color: var(--main-font-color);
  font-family: $font-family;
}

.form-to-text > button {
  text-decoration: none;
  background: none;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  color: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: inherit;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

input.button {
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  border: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}


// Mobile
@media only screen and (max-width: 600px) {
  // Kind of hacky
  .card-content > .columns > .column > .card {
    margin: 0.8em 0;
  }
}
