<!DOCTYPE html>
<html class="is-loading">
  <head>
    <% include layouts/_head.html.ejs %>
  </head>

  <body>
    <div id="navbar"></div>

    <div class="main-container">
      <div class="container">
        <% include layouts/_flash.html.ejs %>

        <%- body %>
      </div>
    </div>

    <script src="<%= assetPath('app.js') %>"></script>
  </body>
</html>
