<!DOCTYPE html>
<html>
  <head>
    <% include layouts/_head.html.ejs %>
  </head>

  <body class="is-loading">
    <% include layouts/_navbar.html.ejs %>

    <div class="main-container">
      <div class="container">
        <% include layouts/_flash.html.ejs %>

        <%- body %>
      </div>
    </div>

    <script src="<%= assetPath('app.js') %>"></script>
  </body>
</html>
