<form method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="description">Description:</label>
  <input type="text" id="description" name="description" value="<%= lostItem.description %>" required><br><br>

  <input type="submit" value="Submit">
</form>
