<form method="post">
  <label for="description">Description:</label>
  <input type="text" id="description" name="description" value="<%= lostItem.description %>"><br><br>

  <input type="submit" value="Submit">
</form>
