<div class="content">
  <h1>Editar Proyecto</h1>
  <form method="post" enctype="multipart/form-data">>
    <input type="hidden" name="_method" value="patch">

    <input type="text" id="name" name="name" placeholder="Nombre" value="<%= project.name %>" required><br><br>

    <input type="text" id="contactInfo" name="contactInfo" placeholder="Información de contacto" value="<%= project.contactInfo %>" required><br><br>

    <textarea type="text" id="description" name="description" placeholder="Descripción" required><%= project.description %></textarea><br><br>

    <div class="field">
      <label for="img">Imagen</label>
      <input type="file" name="img">
    </div>

    <br>

    <input type="submit" value="Submit">
  </form>
</div>
