.is-capitalized {
  text-transform: capitalize !important;
}

.is-uppercase {
  text-transform: uppercase !important;
}

.is-lowercase {
  text-transform: lowercase !important;
}

.is-italic {
  font-style: italic !important;
}
