<h1 class="title is-1 center">Noticias</h1>

<% if (currentUser && currentUser.isCAi) { %>
  <p>
    <a href=<%= newPath() %> class="button">Nueva Noticia</a>
  </p>
<% }; %>

<div class="columns wrap">
  <% articles.forEach((article) => { %>
    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title is-centered">
            <%= article.title %>
          </p>
        </header>
        <div class="card-content is-centered">
          <p>
            <%= article.content %>
          </p>
          <a class="button" href="<%= showPath(article) %>">
            Más información
          </a>
        </div>
      </div>
    </div>
  <% }); %>
</div>
