  <form method="post">
    <label for="name">Title:</label>
    <input type="text" id="title" name="title" required><br><br>

    <label for="content">Content:</label>
    <input type="text" id="content" name="content" required><br><br>


    <input type="submit" value="Submit">
  </form>
