<div class="content">
  <a href=<%= indexPath() %> class="button"> Noticias  </a>
  <h2><%= article.title %></h2>
  <p>
    <%= article.content %> <br>
    <%= organization.name %> <br>
  </p>
</div>
