<form method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required><br><br>

  <label for="description">Description:</label>
  <input type="text" id="description" name="description" required><br><br>

  <label for="maxStock">Max Stock:</label>
  <input type="number" id="maxStock" name="maxStock" required><br><br>

  <label for="currentStock">Current Stock:</label>
  <input type="number" id="currentStock" name="currentStock" required><br><br>

  <input type="submit" value="Submit">
</form>
