// Main container
.main-container {
  margin-top: 5em;
}

// Navbar
.navbar {
  z-index: 10;
  position: fixed;
  height: 5rem;
  top: 0;
  width: 100vw;
  background-color: $dark;
}

// Navigator
.navbar-nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

// Logo
.nav-logo {
  height: 4.5em;
  width: 4.5em;
  margin: auto 0;
}

.nav-logo img {
  height: 100%;
}

.nav-logo {
  margin-right: auto;  // Push other elements to the right
}

// Nav items
.nav-item:not(:last-child)  {
  margin-right: 1em;
}

.nav-item > a,
.nav-item button {
  text-decoration: none;
  transition: $transition-speed;
  color: $light;
}

.nav-item button {  // transform button to text like anchor
  background: inherit;
  font-size: 100%;
  font-family: inherit;
  line-height: 1;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

.nav-item > a:hover,
.nav-item button:hover {
  color: $primary;
}
