<style>
  body {
    background-color: #364f6b;
    color: rgb(225, 225, 225);
  }
  .card {
  margin-bottom: 2em;
  position: relative;
  max-width: 100%;
  height: 100%;
  background-color: #30465f;
  overflow: hidden;
  border-radius: 15px;
}
</style>

<h1>Recordatorio préstamo</h1>
<div class="card">
<p>
  Te recordamos que pediste prestado el artículo <%= inventoryItem.name %> y que debes
  devolverlo al CAi el día <%= reservation.dueDate %>
</p>
<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="width="200" height="100" viewBox="0 0 3468.000000 3468.000000" preserveAspectRatio="xMidYMid meet">

  <g transform="translate(0.000000,3468.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
    <path fill="currentColor" class="fa-secondary" d="M24356 34538 c-388 -98 -544 -129 -3706 -738 -1031 -198 -2059 -396
    -2285 -440 -225 -44 -936 -181 -1580 -305 -1210 -234 -1710 -331 -3140 -610
    -1713 -335 -2279 -444 -4330 -835 -1432 -273 -2037 -391 -3844 -745 -744 -146
    -1375 -265 -1402 -265 -39 0 -49 -3 -49 -16 0 -9 18 -65 40 -124 42 -116 30
    -56 705 -3525 157 -808 491 -2516 741 -3795 608 -3106 1159 -5923 1650 -8440
    501 -2570 657 -3360 973 -4950 509 -2559 664 -3345 810 -4125 50 -264 111
    -573 135 -687 147 -668 150 -943 18 -1358 -46 -142 -93 -347 -154 -665 -39
    -197 -45 -220 -63 -223 -18 -2 -28 13 -65 103 -24 58 -47 105 -50 105 -16 0
    -166 -525 -219 -765 -84 -389 -109 -582 -118 -925 -9 -393 12 -488 127 -557
    67 -41 112 -42 351 -13 334 41 697 107 832 150 71 23 130 40 132 38 2 -2 36
    -169 77 -373 l74 -370 30 2 c47 3 20578 3965 20587 3973 4 3 -49 290 -117 636
    -69 346 -469 2413 -890 4594 -1125 5829 -1149 5956 -1601 8345 -414 2190 -558
    2935 -1106 5735 -396 2023 -592 3034 -1029 5305 -182 946 -427 2217 -545 2825
    -300 1551 -350 1814 -477 2513 l-112 617 -25 -1 c-14 -1 -183 -42 -375 -91z
    m-332 -875 c7 -24 5655 -29031 5658 -29063 3 -24 2 -25 -312 -92 -173 -37
    -320 -67 -327 -68 -7 0 5 39 29 93 22 50 54 130 70 177 17 47 39 102 49 122
    42 82 17 125 -84 143 -53 9 -65 16 -85 45 -51 76 -66 153 -152 790 -44 327
    -83 530 -109 578 -18 32 -205 -146 -295 -281 -68 -102 -128 -227 -196 -407
    -60 -158 -90 -212 -261 -460 -208 -303 -277 -431 -320 -597 -25 -101 -25 -134
    4 -161 l23 -22 439 335 c241 184 440 335 442 335 17 0 86 -45 106 -70 41 -48
    50 -99 39 -214 -10 -107 -2 -198 22 -245 24 -44 88 -98 149 -127 32 -14 57
    -28 55 -30 -2 -2 -1979 -386 -4394 -853 -2414 -468 -6505 -1260 -9092 -1761
    -2586 -500 -4706 -910 -4710 -910 -14 0 -87 301 -75 308 100 65 1057 760 1170
    850 86 68 194 152 242 185 47 34 116 89 152 123 97 91 134 107 248 111 109 4
    138 17 233 105 78 73 864 936 1319 1448 508 572 681 780 1260 1515 259 328
    409 509 453 549 37 32 68 57 70 55 4 -5 44 -251 52 -314 7 -64 -11 -351 -31
    -473 -18 -107 -27 -124 -101 -187 -44 -38 -57 -45 -69 -35 -11 10 -15 7 -19
    -12 -5 -20 -96 -717 -96 -732 0 -7 143 -8 163 -1 9 4 79 230 193 625 150 520
    181 617 191 603 7 -9 155 -289 330 -622 174 -333 317 -607 319 -609 4 -6 79
    29 97 46 36 32 59 93 69 186 13 118 120 673 163 844 18 74 41 142 51 154 10
    11 64 47 120 80 l101 60 22 181 c12 100 25 200 28 221 l6 39 -61 -6 c-107 -11
    -177 -52 -234 -135 -59 -85 -205 -451 -307 -771 -40 -122 -74 -221 -76 -220
    -11 13 -735 1302 -735 1309 0 5 521 564 1159 1242 637 678 1156 1239 1154
    1245 -3 7 -9 13 -14 13 -4 0 -82 -40 -172 -90 -91 -49 -169 -90 -175 -90 -5 0
    -15 6 -21 14 -9 10 6 44 68 152 44 76 78 140 76 142 -2 2 -109 -71 -237 -164
    -303 -218 -518 -360 -569 -375 -35 -11 -43 -10 -67 8 -27 20 -64 82 -92 155
    l-15 38 -125 -76 c-246 -150 -433 -286 -900 -655 -309 -244 -389 -306 -435
    -335 l-29 -19 31 45 c17 25 106 146 196 270 91 124 164 226 163 227 -1 1 -60
    -4 -131 -12 -71 -8 -130 -13 -132 -11 -2 1 74 107 168 235 94 128 169 234 166
    237 -2 3 -49 -6 -103 -20 -54 -14 -100 -23 -103 -21 -4 4 -19 282 -20 367 l-1
    38 -87 -52 c-577 -339 -977 -582 -1199 -726 -74 -48 -160 -104 -192 -124 -150
    -97 -264 -84 -472 55 -163 108 -210 178 -210 312 0 77 25 168 489 1790 811
    2834 863 3007 1291 4235 95 272 389 1141 655 1930 433 1285 840 2491 924 2733
    35 103 56 139 107 187 20 19 58 61 85 93 48 57 49 59 284 770 356 1073 463
    1413 475 1509 5 45 10 144 10 220 l0 137 -69 -24 c-250 -85 -431 -226 -745
    -580 -151 -171 -314 -340 -322 -333 -2 2 -44 134 -93 292 -50 159 -92 290 -94
    292 -1 1 -223 -171 -492 -382 -597 -470 -763 -584 -847 -584 -37 0 -88 32
    -163 102 l-74 69 -271 -540 c-148 -298 -273 -541 -278 -540 -4 0 -83 86 -176
    190 l-170 190 -166 -333 c-91 -183 -183 -376 -204 -428 -71 -176 -908 -2523
    -1181 -3310 -605 -1743 -769 -2268 -1245 -3985 -267 -963 -1692 -5951 -1704
    -5962 -2 -2 -7 13 -11 34 -3 21 -1043 5371 -2310 11888 -1267 6518 -2305
    11861 -2307 11874 l-3 24 5080 993 c2794 546 7044 1378 9445 1847 2401 470
    4373 855 4382 856 9 0 19 -7 22 -16z m-11216 -20421 c36 -113 39 -99 -120
    -602 -44 -140 -93 -298 -110 -350 -71 -229 -1540 -5227 -1687 -5740 -27 -96
    -118 -427 -202 -735 -121 -448 -159 -576 -192 -640 l-40 -80 -43 95 c-24 52
    -54 117 -67 145 l-24 49 -23 -59 c-12 -33 -37 -132 -55 -220 -36 -177 -59
    -242 -112 -322 -32 -48 -119 -132 -127 -122 -1 2 -18 78 -37 169 l-34 165 1
    300 c0 165 6 473 13 685 15 446 -5 369 169 664 129 218 163 299 190 451 11 61
    30 163 41 227 25 140 64 265 249 805 165 482 513 1601 885 2853 131 438 137
    472 112 591 -37 181 -10 267 128 394 l81 75 28 -45 c57 -92 72 -142 72 -250 1
    -117 -2 -126 -157 -530 -176 -461 -209 -578 -257 -915 -56 -390 -135 -714
    -325 -1320 l-95 -305 0 -265 c0 -228 -3 -276 -20 -346 -24 -103 -157 -581
    -356 -1286 -85 -300 -154 -560 -154 -576 0 -37 24 -61 35 -35 22 60 132 370
    152 433 34 108 146 519 443 1635 538 2017 713 2635 991 3498 161 498 470 1430
    485 1458 12 24 120 119 135 119 3 0 15 -31 27 -68z m15764 -7385 c17 -17 75
    -594 62 -607 -14 -12 -698 -370 -702 -366 -6 7 604 986 615 986 6 0 18 -6 25
    -13z"></path>
    <path fill="currentColor" class="fa-primary" d="M13160 29989 c-206 -166 -358 -307 -369 -342 -5 -18 -12 -58 -16 -89
    -7 -59 -51 -136 -453 -787 -68 -111 -102 -175 -102 -194 0 -33 -8 -35 75 19
    14 9 28 14 31 12 6 -7 -47 -140 -101 -253 -60 -126 -105 -191 -230 -335 -230
    -267 -394 -536 -565 -925 -71 -163 -83 -205 -111 -394 -22 -155 -21 -159 31
    -181 27 -11 36 -9 97 25 205 112 479 311 913 664 146 119 312 252 370 297 119
    92 349 254 359 254 4 0 25 -44 46 -97 21 -54 41 -101 44 -106 4 -4 20 20 36
    54 24 50 33 59 50 55 11 -3 23 -6 26 -6 3 0 9 -186 12 -412 6 -514 -3 -479
    149 -593 58 -44 167 -121 241 -172 l135 -92 23 62 c12 34 68 168 124 297 120
    277 165 393 200 515 31 109 55 241 55 305 l0 48 -62 -66 c-35 -36 -69 -72 -75
    -80 -23 -24 -14 -1 59 150 59 122 69 151 58 158 -8 5 -18 6 -21 2 -3 -4 -61
    -77 -129 -162 -68 -85 -126 -159 -130 -163 -4 -5 -17 -3 -29 5 -19 11 -21 22
    -21 104 l0 91 -49 39 c-27 21 -54 48 -60 59 -12 23 -33 160 -131 840 -98 683
    -210 1344 -240 1412 -10 23 -85 83 -104 83 -6 0 -68 -45 -136 -101z m-139
    -853 c26 -6 27 -8 33 -103 7 -112 32 -624 42 -879 l7 -171 -38 -41 -37 -41
    -58 6 c-93 9 -120 -1 -234 -86 -64 -48 -179 -119 -293 -179 -327 -174 -577
    -302 -581 -298 -3 3 1006 1660 1086 1784 8 13 22 21 31 18 9 -2 28 -7 42 -10z"></path>
    <path fill="currentColor" class="fa-primary" d="M10007 29977 c-56 -18 -102 -60 -131 -121 -22 -46 -32 -57 -68 -70
    -80 -29 -631 -197 -639 -194 -4 2 14 39 41 83 l49 80 -32 11 c-28 10 -38 8
    -87 -19 -385 -212 -668 -424 -946 -708 -178 -183 -344 -390 -401 -499 l-26
    -50 18 -77 c15 -64 17 -88 8 -139 -14 -82 -92 -254 -147 -324 -78 -100 -78
    -100 -101 -375 -11 -127 -24 -216 -46 -305 -25 -100 -30 -138 -26 -190 12
    -140 79 -247 211 -334 254 -169 530 -245 841 -233 347 13 639 127 1030 400
    162 114 220 164 342 300 114 127 115 128 99 152 -9 14 -18 25 -20 25 -11 0
    -760 -255 -836 -285 -52 -21 -203 -89 -335 -152 -368 -177 -422 -197 -525
    -198 -77 0 -92 3 -152 33 -157 77 -203 204 -180 500 14 187 35 280 98 438 233
    584 631 1089 1189 1509 129 96 191 133 300 175 66 25 82 28 90 17 6 -8 97
    -172 204 -365 179 -324 196 -350 214 -340 21 11 21 8 0 -195 l-6 -59 30 15
    c16 9 34 22 40 29 13 17 180 466 249 673 127 377 135 437 76 557 -65 133 -168
    210 -316 237 -69 13 -60 13 -109 -2z"></path>
    <path fill="currentColor" class="fa-primary" d="M19945 28764 c-305 -18 -433 -27 -570 -39 -400 -38 -855 -105 -1256
    -185 -109 -22 -200 -40 -202 -40 -3 0 -7 -36 -8 -79 -6 -122 -50 -167 -175
    -178 -41 -3 -85 -14 -108 -27 -24 -13 -109 -101 -220 -226 -365 -412 -1787
    -2023 -2362 -2675 -638 -724 -1024 -1170 -1024 -1181 0 -4 72 -4 161 -1 115 4
    187 2 256 -9 53 -8 140 -14 193 -14 124 0 189 -19 240 -70 21 -21 44 -57 51
    -80 11 -36 16 -41 35 -36 52 13 74 27 120 76 56 59 99 84 182 105 31 8 271 46
    532 85 1026 152 1257 191 2025 340 1018 198 1436 260 1995 295 315 19 281 16
    797 72 244 26 443 50 443 53 0 3 -35 30 -76 60 -81 58 -124 110 -124 148 0 66
    83 144 225 212 62 30 94 51 85 54 -8 3 -108 37 -222 76 -404 135 -447 157
    -485 247 -20 48 -16 76 15 105 54 51 143 86 305 118 32 6 57 13 55 15 -2 2
    -129 40 -281 85 -407 118 -461 136 -496 169 -26 25 -31 36 -31 77 0 46 3 51
    68 114 129 126 206 148 602 175 206 14 268 21 447 56 60 12 61 13 66 48 2 20
    4 37 3 37 -1 1 -208 78 -462 172 -253 94 -473 176 -489 182 l-29 11 65 65
    c114 115 234 179 404 216 72 15 157 21 425 28 184 5 348 12 363 16 27 6 24 9
    -60 56 -177 99 -189 135 -98 287 54 89 55 92 39 117 -9 14 -29 31 -44 39 -45
    23 -112 98 -139 155 -19 41 -26 71 -26 120 0 87 22 125 99 166 108 58 271 87
    710 129 149 14 281 28 294 31 20 4 23 10 20 42 l-3 37 -100 17 c-240 41 -691
    92 -1040 119 -134 10 -1065 20 -1190 13z"></path>
    <path fill="currentColor" class="fa-secondary" d="M18650 6364 c-41 -24 -100 -52 -130 -61 -34 -10 -67 -28 -89 -50 -31
    -31 -33 -37 -29 -86 7 -80 54 -169 163 -304 54 -68 101 -123 104 -123 7 0 136
    639 130 644 -12 10 -50 26 -61 25 -7 0 -47 -21 -88 -45z"></path>
    <path fill="currentColor" class="fa-secondary" d="M21018 6319 c-50 -60 -178 -235 -178 -245 0 -7 42 -43 51 -44 3 0 21
    31 38 70 37 79 35 79 113 11 67 -59 101 -134 101 -219 -1 -37 -8 -103 -17
    -147 -8 -44 -20 -151 -26 -238 -11 -181 -18 -202 -97 -305 -40 -52 -64 -75
    -84 -79 -35 -7 -30 17 -74 -372 -20 -179 -31 -309 -26 -315 6 -7 36 -9 78 -6
    l68 5 175 590 175 590 28 0 c28 0 41 -23 347 -593 175 -326 321 -594 326 -594
    11 -1 91 100 108 137 8 17 24 100 35 185 60 433 74 523 101 645 38 169 62 233
    102 272 46 43 74 56 142 62 55 6 60 8 77 41 12 25 22 88 33 212 9 97 16 190
    16 206 l0 30 -52 -12 c-78 -18 -127 -45 -179 -96 -55 -55 -92 -129 -135 -268
    -17 -59 -50 -148 -72 -199 -50 -111 -172 -491 -172 -533 0 -16 -2 -30 -5 -30
    -13 0 -61 29 -76 46 -9 11 -97 168 -194 349 -304 562 -363 657 -518 829 -51
    56 -56 59 -108 64 l-56 4 -45 -53z"></path>
    <path fill="currentColor" class="fa-secondary" d="M27538 6329 c-59 -14 -150 -64 -187 -103 -33 -34 -37 -46 -87 -278
    -29 -134 -51 -244 -49 -246 1 -2 60 35 131 81 71 46 135 87 142 91 15 9 1 -27
    -98 -254 -171 -391 -229 -584 -237 -800 -5 -125 10 -310 25 -310 3 0 20 12 39
    26 19 14 36 24 38 22 2 -1 9 -41 15 -88 6 -47 14 -87 16 -89 8 -8 76 64 97
    104 20 37 22 52 19 207 l-3 167 76 283 c42 156 122 450 177 653 55 204 101
    389 102 412 3 98 -92 151 -216 122z"></path>
    <path fill="currentColor" class="fa-secondary" d="M25672 6310 c-127 -34 -205 -82 -323 -200 -117 -116 -203 -238 -246
    -346 -23 -59 -27 -84 -27 -174 -1 -91 3 -115 27 -180 39 -106 47 -115 90 -100
    18 7 42 19 52 26 21 16 52 135 101 399 19 105 44 209 55 232 25 52 66 78 144
    92 75 13 245 19 245 8 0 -5 -47 -77 -104 -160 -132 -193 -150 -231 -229 -467
    -116 -349 -151 -526 -150 -760 1 -134 20 -300 36 -317 7 -7 99 209 149 347 54
    153 87 207 141 233 34 17 40 17 90 3 30 -9 103 -46 163 -82 139 -85 194 -117
    326 -192 l107 -60 16 24 c15 24 15 26 -37 82 -80 86 -91 100 -84 111 4 5 149
    -80 332 -195 180 -113 327 -204 328 -202 2 2 12 17 24 34 l21 31 -347 308
    c-191 169 -348 310 -349 314 -1 3 77 53 174 111 378 224 481 326 491 486 7
    103 -44 192 -155 271 -81 57 -335 187 -475 241 -245 96 -437 123 -586 82z
    m539 -265 c140 -56 312 -190 378 -293 34 -55 57 -152 47 -204 -8 -43 -46 -92
    -88 -114 -59 -30 -891 -277 -896 -265 -6 15 269 810 294 848 8 13 31 32 52 43
    48 26 126 21 213 -15z"></path>
    <path fill="currentColor" class="fa-secondary" d="M24444 6295 c-51 -26 -325 -239 -452 -353 -163 -146 -360 -434 -613
    -897 -79 -145 -93 -178 -97 -227 -4 -47 0 -64 23 -106 50 -92 159 -174 285
    -213 84 -26 248 -35 365 -20 181 24 407 118 650 270 120 75 138 92 222 200
    l66 85 -37 33 -36 33 -67 -43 c-84 -55 -466 -274 -548 -315 -148 -74 -305
    -122 -398 -123 -37 -1 -79 9 -140 33 l-87 33 49 70 c27 39 60 80 73 91 26 24
    315 180 778 419 168 87 306 159 308 160 2 2 -4 17 -12 34 l-16 30 -502 -169
    c-276 -94 -506 -170 -511 -170 -12 0 90 193 156 294 201 306 472 524 804 645
    l63 23 -19 27 c-40 55 -136 144 -175 162 -54 25 -73 24 -132 -6z"></path>
    <path fill="currentColor" class="fa-secondary" d="M22857 5998 c-53 -166 -95 -303 -93 -305 2 -2 57 30 122 73 66 42
    136 88 157 101 l38 24 -15 -33 c-8 -18 -52 -117 -99 -219 -175 -382 -246 -634
    -247 -881 0 -103 18 -238 33 -238 5 0 24 9 42 20 l32 20 7 -53 c3 -28 6 -68 6
    -88 0 -35 2 -37 38 -41 20 -3 39 -4 40 -2 2 1 10 78 18 171 8 92 19 195 25
    228 28 161 177 737 296 1145 68 237 80 317 52 345 -25 26 -83 35 -224 35
    l-130 0 -98 -302z"></path>
    <path fill="currentColor" class="fa-secondary" d="M20215 6283 c-43 -11 -412 -299 -516 -402 -302 -303 -559 -731 -655
    -1093 l-18 -68 44 -46 c150 -154 342 -233 539 -221 141 8 266 53 596 214 313
    153 379 193 406 243 29 53 25 170 -6 170 -22 0 -226 -105 -380 -195 -352 -207
    -531 -274 -732 -275 -92 0 -97 3 -109 77 -7 45 9 84 48 119 12 12 126 76 252
    143 369 195 956 516 956 522 0 3 -6 14 -14 24 -13 18 -36 12 -552 -157 -297
    -97 -550 -179 -563 -183 l-24 -7 28 48 c83 143 229 342 338 464 141 155 322
    291 499 375 103 49 158 97 158 141 0 58 -199 131 -295 107z"></path>
    <path fill="currentColor" class="fa-secondary" d="M18158 6211 c-336 -226 -578 -502 -763 -872 l-45 -89 0 -213 c0 -337
    22 -438 114 -527 l36 -34 183 0 c317 1 463 50 665 222 100 86 247 202 256 202
    3 0 7 -136 8 -302 l3 -303 24 40 c13 22 45 92 71 155 26 63 63 140 82 170 114
    178 169 341 232 686 35 189 34 204 -9 249 -32 34 -38 37 -72 30 -119 -22 -237
    -141 -273 -275 -33 -122 -111 -216 -265 -320 -55 -37 -161 -115 -235 -174
    -259 -205 -372 -267 -450 -246 -133 36 -191 308 -115 538 53 158 164 326 528
    801 l211 274 -32 28 c-18 16 -37 29 -42 29 -5 0 -55 -31 -112 -69z"></path>
  </g>
</svg>
</div>