<html>
  <head>
    <style>
      body {
        background-color: #364f6b;
        color: rgb(225, 225, 225);
      }
      .card {
        margin-bottom: 2em;
        position: relative;
        max-width: 100%;
        height: 100%;
        background-color: #30465f;
        overflow: hidden;
        border-radius: 15px;
      }
    </style>
  </head>
  <body>
    <h1>Recordatorio préstamo</h1>
    <div class="card">
      <p>
      Te recordamos que pediste prestado el artículo <%= inventoryItem.name %> y que debes
      devolverlo al CAi el día <%= reservation.dueDate %>
      </p>
      <img width="100" height="100" src='https://res.cloudinary.com/hyysk1pwj/image/upload/v1593379540/articles/3/1593379539.png'>
    </div>
  </body>
</html>