<h1 class="title is-1 center chat-title"><%= userName %></h1>

<div id="chat"></div>

<div id="chat-with" class="is-hidden"><%= chatWith %></div>
<div id="chat-is-cai" class="is-hidden"><%= isCAi %></div>
