<div>
  <h1>Editar Mensaje</h1>
  <form method="post">
    <div class="card is-round input-card">
      <input class="form-input" type="hidden" name="_method" value="patch">
    </div>

    <div class="card is-round input-card">
      <input class="form-input" type="text" id="email" name="email" placeholder="Email" value="<%= message.email %>" required>
    </div>

    <div class="card is-round input-card">
      <textarea class="form-input textarea" type="text" id="content" name="content" placeholder="Mensaje" required><%= message.content %></textarea>
    </div>

    <input class="form-to-text button form-button" type="submit" value="Submit">
  </form>
