<form method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="content">contenido:</label>
  <input type="text" id="content" name="content" value= "<%= project.name%>" ><br><br>

  <label for="mail">Correo:</label>
  <input type="text" id="maiñ" name="mail" value= "<%= project.description%>"><br><br>

  <input type="submit" value="Submit">
</form>