<form method="post">
  <label for="content">Contenido:</label>
  <input type="text" id="content" name="content" required><br><br>

  <label for="email">Correo:</label>
  <input type="text" id="email" name="email" required><br><br>

  <input type="submit" value="Submit">
</form>
