<!-- <div>
<% if (locals.errors) { %>
  <div class="errors">
    You need to fix the following errors:
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.message %></li>
      <% }); %>
    </ul>
  </div>
<% } %> -->

<form method="post">
  <label for="content">Contenido:</label>
  <input type="text" id="content" name="content"><br><br>

  <label for="email">Correo:</label>
  <input type="text" id="email" name="email"><br><br>

  <input type="submit" value="Submit">
</form>