<h1 class="title is-1 center">Nuevo Mensaje</h1>
<% if (!currentUser) {%>
  <form method="post">
    <div class="card is-round input-card">
      <input class="form-input" type="text" id="email" name="email" placeholder="Email" value="<%= message.email %>" required>
    </div>

    <div class="card is-round input-card">
      <textarea class="form-input textarea" type="text" id="content" name="content" placeholder="Mensaje" required><%= message.content %></textarea>
    </div>

    <input class="form-to-text button form-button" type="submit" value="Submit">
  </form>
<% } else { %>
  <form method="post">
    <div class="card is-round input-card">
      <input class="form-input" type="text" id="email" name="email" placeholder="Email" value="<%= currentUser.email %>" readonly>
    </div>

    <div class="card is-round input-card">
      <textarea class="form-input textarea" type="text" id="content" name="content" placeholder="Mensaje" required><%= message.content %></textarea><br><br>
    </div>

    <input class="form-to-text button form-button" type="submit" value="Submit">
</form>
<% } %>
