<div class="content">
  <h1>Iniciar sesión</h1>
  <form method="post">
    <input type="email" id="email" name="email" placeholder="Email" value="<%= user.email %>" required><br><br>

    <input type="password" id="password" name="password" placeholder="Contraseña" value="<%= user.password %>" required><br><br>

    <input type="submit" value="Submit">
  </form>

  <br>

  No tienes cuenta? <a href="<%= newUserPath %>">Crea una cuenta!</a>

</div>
