<h1 class="title is-1 center">Iniciar sesión</h1>
<form method="post">
  <div class="card is-round input-card">
    <input class="form-input" type="email" id="email" name="email" placeholder="Email" value="<%= user.email %>" required>
  </div>

  <div class="card is-round input-card">
    <input class="form-input" type="password" id="password" name="password" placeholder="Contraseña" value="<%= user.password %>" required>
  </div>

  <input class="form-to-text button form-button" type="submit" value="Submit">
</form>

<p class="form-extra-content">
  No tienes cuenta? <a class="link" href="<%= newUserPath %>">Crea una cuenta!</a>
</p>
