.content {
  // Titles
  h1 {
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 0.5em;
  }

  h2, h3, h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3, h4 {
    font-size: 1.5em;
  }

  // Paragraphs
  p {
    margin-bottom: 1em;
  }

  // Forms
  form {
    // Inputs
    input[type="text"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="search"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
      background: $almost-white;
      width: 100%;
      padding: 10px;
      line-height: 1.5em;
      border: none;
      box-sizing: border-box;
      margin: 0;
	    outline: 0;
      border-radius: 4px;
    }
    input[type="text"]:focus,
    input[type="date"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="number"]:focus,
    input[type="search"]:focus,
    input[type="time"]:focus,
    input[type="url"]:focus,
    textarea:focus,
    select:focus {
      background: $not-quite-white;
    }
    textarea {
      height: 20em;
      resize: none;
    }
    // Buttons
    input[type="submit"],
    input[type="button"] {
      border: none;
      display: block;
      padding: 10px 15px;
      background: $not-quite-white;
      color: $dark;
      border-radius: 3px;
      transition: $transition-speed;
    }
    input[type="submit"]:hover,
    input[type="button"]:hover {
      background: $white;
      color: $danger;
      border-radius: 3px;
    }
  }
}
