:root {
  // Transition variables
  --slow-transition-speed: #{$slow-transition-speed};
  --fast-transition-speed: #{$fast-transition-speed};
}

.dark {
  // Main background colors
  --main-background-color: #{$pale-blue};
  --secondary-background-color: #{$deep-blue};

  // Navbar variables
  --navbar-background-color: #{$light-blue};
  --navbar-accent-color: #{$deep-blue};

  // Font variables
  --main-font-color: #{$not-quite-white};
  --secondary-font-color: #{$black};

  // Color variables
  --accent-1: #{$strong-pink};
  --accent-2: #{$cyan};
  --accent-3: #{$light-grey};
  --accent-1-hover: #{$strong-pink-hover};
  --accent-2-hover: #{$cyan-hover};
  --accent-3-hover: #{$light-grey-hover};

  // Box shadows
  --main-background-main-box-shadow: #{$pale-blue-dark-box-shadow};
  --main-background-secondary-box-shadow: #{$pale-blue-light-box-shadow};
}

.light {
  // Main background colors
  --main-background-color: #{$light-grey};
  --secondary-background-color: #{$not-quite-white};

  // Navbar variables
  --navbar-background-color: #{$not-quite-white};
  --navbar-accent-color: #{$light-grey};

  // Font variables
  --main-font-color: #{$black};
  --secondary-font-color: #{$not-quite-white};

  // Color variables
  --accent-1: #{$cyan};
  --accent-2: #{$strong-pink};
  --accent-3: #{$strong-pink};
  --accent-1-hover: #{$cyan-hover};
  --accent-2-hover: #{$strong-pink-hover};
  --accent-3-hover: #{$strong-pink-hover};

  // Box shadows
  --main-background-main-box-shadow: #{$light-grey-dark-box-shadow};
  --main-background-secondary-box-shadow: #{$light-grey-light-box-shadow};
}
