<meta charset="utf-8">

<link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet">

<title>IIC2513 - CHANGE-ME</title>

<% if (env !== 'development') { %>
  <link rel="stylesheet" href="<%= assetPath('app.css') %>">
<% } %>
