<meta charset="utf-8">

<link href="https://fonts.googleapis.com/css2?family=Cantarell&display=swap" rel="stylesheet">

<title>This CAi</title>

<% if (env !== 'development') { %>
  <link rel="stylesheet" href="<%= assetPath('app.css') %>">
<% } %>
