<header class="navbar">
  <div class="container">
    <ul class="navbar-nav">
      <li id="logo" class="nav-logo">
        <a href="/">
          <img src="<%= assetPath('logo.png') %>" alt="Logo">
        </a>
      </li>
      <li class="nav-item">
        <a href="/users">Usuarios</a>
      </li>
      <li class="nav-item">
        <a href="/organizations">Organizaciones</a>
      </li>
      <li class="nav-item">
        <a href="/projects">Proyectos</a>
      </li>
      <li class="nav-item">
        <a href="/events">Eventos</a>
      </li>
      <li class="nav-item">
        <a href="/articles">Noticias</a>
      </li>
      <li class="nav-item">
        <a href="/inventory-items">Inventraio</a>
      </li>
      <li class="nav-item">
        <a href="/lost-items">Objetos Perdidos</a>
      </li>
      <li class="nav-item">
        <a href="/messages">Mensajes</a>
      </li>
    </ul>
  </div>
</header>
