// Column classes with a bulma-like syntax

$column-gap: 0.75rem !default;  // Gap between columns
$column-number: 12;

.columns {
  // Columns styling
  display: flex;
  margin-left: (-$column-gap);
  margin-right: (-$column-gap);
  margin-top: (-$column-gap);
  &:last-child {
    margin-bottom: (-$column-gap);
  }
  &:not(:last-child) {
    margin-bottom: calc(1.5rem - #{$column-gap});
  }

  // Columns modifiers
  &.is-centered {  // Horizontal centering
    justify-content: center;
  }
  &.is-vcentered {  // Vertical centering
    align-items: center;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

.column {
  // Individual column styling
  height: auto;
  box-sizing: border-box;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: $column-gap;

  // is-n modifiers
  @for $i from 0 through $column-number {
    &.is-#{$i} {
      flex: none;
      width: percentage($i / $column-number);
    }
  }
}


// Mobile
@media only screen and (max-width: 600px) {
  .columns {
    margin: auto;
    display: block;
  }

  .column {
    padding: 0;

    @for $i from 0 through $column-number {
      &.is-#{$i} {
        width: 100%;
      }
    }
  }
}
