<form method="post">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" placeholder= "ej foo@uc.cl" required><br><br>

  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" required><br><br>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" required><br><br>

  <label for="phoneNumber">Phone Number:</label>
  <input type="text" id="phoneNumber" name="phoneNumber" placeholder="ej: +56912345678" required><br><br>

  <label for="role">Role:</label>
  <input type="text" id="role" name="role" required><br><br>

  <input type="submit" value="Submit">
</form>
