<form method="post">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email"><br><br>

  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName"><br><br>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName"><br><br>

  <label for="phoneNumber">Phone Number:</label>
  <input type="text" id="phoneNumber" name="phoneNumber"><br><br>

  <label for="role">Role:</label>
  <input type="text" id="role" name="role"><br><br>

  <input type="submit" value="Submit">
</form>
