<div class="content">
  <h1>Nuevo Usuario</h1>
  <form method="post" enctype="multipart/form-data">
    <input type="email" id="email" name="email" placeholder="Email" value="<%= user.email %>" required><br><br>

    <input type="text" id="firstName" name="firstName" placeholder="Primer Nombre" value="<%= user.firstName %>" required><br><br>

    <input type="text" id="lastName" name="lastName" placeholder="Apellido" value="<%= user.lastName %>" required><br><br>

    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="N° de teléfono, ej +56912312312" value="<%= user.phoneNumber %>" required><br><br>

    <input type="password" id="password" name="password" placeholder="Contraseña" required><br><br>

    <div class="field">
    <label for="image">Imagen</label>
    <input type="file" name="image" />
    </div>

    <input type="submit" value="Submit">
  </form>
</div>
